version: "3"

services:
  postgres:
    image: postgres:17-alpine
    container_name: pagesy_db
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=pagesy_user
      - POSTGRES_PASSWORD=pagesy_password
      - POSTGRES_DB=pagesy_db
    volumes:
      - db:/var/lib/postgresql/data

  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs
    restart: unless-stopped
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - RUSTFS_ACCESS_KEY=rustfsadmin
      - RUSTFS_SECRET_KEY=rustfsadmin
      - RUSTFS_CONSOLE_ENABLE=true
    volumes:
      - rustfs-data:/data

  queue:
    image: rabbitmq:4.2.4-management-alpine
    container_name: pagesy_queue
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672
    
volumes:
  db:
  rustfs-data: